p, ol>li{
  font-size:23px;
}

h1{
  background-color:#ffe600;
  width: fit-content;
  font-size:30px;
  text-decoration: underline;
}

.contenuHtml{
  border:2px solid black;
  width: fit-content;
}

.answer:focus{
  box-shadow: none;
}

.answerLittleContent{
  border:1px solid #0b64d8ad;
  width:70px;
  height:35px;
}

.answerContent{
  border:1px solid #0b64d8ad;
  width:289px;
  height:35px;
}

.input1{
  width:170px;
}

.exe1, .exe4, .exe5, .exe2_1{
  width:70px;
}

.exe3{
  width: 289px;
}

.exe6{
  width:249px;
}

.exe2_2{
  width:207px;
}