p, ol>li{
  font-size:23px;
}

h1{
  background-color:#ffe600;
  width: fit-content;
  font-size:30px;
  text-decoration: underline;
}

.contenuHtml{
  border:2px solid black;
  width: fit-content;
}
